# Skopiuj ten plik jako .env i uzupełnij swoimi kluczami

# Gemini API (darmowy) - pobierz na: aistudio.google.com
GEMINI_API_KEY=tu_wklej_klucz_gemini

# Spotify Developer - pobierz na: developer.spotify.com
SPOTIFY_CLIENT_ID=tu_wklej_spotify_client_id
SPOTIFY_CLIENT_SECRET=tu_wklej_spotify_client_secret

# YouTube Data API v3 - pobierz na: console.cloud.google.com
YOUTUBE_API_KEY=tu_wklej_youtube_api_key
